In this tuttorial, we are going to learn how to import data from different files such as Flat files, e..g, csv, txts

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
filename = 'D:\JourneyDataScience\ImportingDataBasics\moby_dick.txt' # Text File to be opened
print(filename)

D:\JourneyDataScience\ImportingDataBasics\moby_dick.txt

Method I

In [3]:
file=open(filename, mode ='r') # to  open and read the file

for line in file:
    print(line)

file.close() # to close the opened file

[Moby Dick by Herman Melville 1851]





ETYMOLOGY.



(Supplied by a Late Consumptive Usher to a Grammar School)



The pale Usher--threadbare in coat, heart, body, and brain; I see him

now.  He was ever dusting his old lexicons and grammars, with a queer

handkerchief, mockingly embellished with all the gay flags of all the

known nations of the world.  He loved to dust his old grammars; it

somehow mildly reminded him of his mortality.



"While you take in hand to school others, and to teach them by what

name a whale-fish is to be called in our tongue leaving out, through

ignorance, the letter H, which almost alone maketh the signification

of the word, you deliver that which is not true." --HACKLUYT

#  Using context manager with

In [4]:
with open(filename, 'r') as file:
    for line in file:
        print(line)

[Moby Dick by Herman Melville 1851]





ETYMOLOGY.



(Supplied by a Late Consumptive Usher to a Grammar School)



The pale Usher--threadbare in coat, heart, body, and brain; I see him

now.  He was ever dusting his old lexicons and grammars, with a queer

handkerchief, mockingly embellished with all the gay flags of all the

known nations of the world.  He loved to dust his old grammars; it

somehow mildly reminded him of his mortality.



"While you take in hand to school others, and to teach them by what

name a whale-fish is to be called in our tongue leaving out, through

ignorance, the letter H, which almost alone maketh the signification

of the word, you deliver that which is not true." --HACKLUYT

# Importing flat files using NumPy : standard for storing numerical data

In [5]:
filename_csv='D:\JourneyDataScience\ImportingDataBasics\\train_labels_MNIST.csv'# 

''' here the name of the files starts with 't', '\t'rain is considered as tab, there 'note'\\ '''
print(filename_csv)

D:\JourneyDataScience\ImportingDataBasics\train_labels_MNIST.csv

In [6]:
file_csv_np= np.loadtxt(filename_csv, delimiter= ',', skiprows=0) # since we don't have headers to be skipped
for line in file_csv_np:
    print(line)

5.0
0.0
4.0
1.0
9.0
2.0
1.0
3.0
1.0
4.0
3.0
5.0
3.0
6.0
1.0
7.0
2.0

There are other functions such np.recfromcsv() np.genfrontxt(): to handle data of different types in a structured array. 

Moving towards pandas now inorder to have two dimensional labelled structures that allow statistical analysis.

In [7]:
file_csv_df = pd.read_csv('D:\JourneyDataScience\ImportingDataBasics\\titanic.csv')
file_csv_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Now to import files from other file types: 1. Pickled 2. SAAS 3. Sata

# Pickled Files: Lets create a dictionary and store it as pickled file first

In [8]:
import pickle
edu_dict = { "0": "B.tech", "1": "Mtech", "2" :"MBA", "3": "M.Sc.", "5":"PhD"}
pickle.dump( edu_dict, open( "D:\JourneyDataScience\ImportingDataBasics\edu.pkl", "wb" ) ) # wb write binary

In [9]:
file_pkl = pickle.load( open( "D:\JourneyDataScience\ImportingDataBasics\edu.pkl", "rb" ) ) # read binary
print(file_pkl)


# Second Method using with context manager
with open("D:\JourneyDataScience\ImportingDataBasics\edu.pkl", 'rb') as file:
    file_pckl=pickle.load(file)
print(file_pckl)

{'0': 'B.tech', '1': 'Mtech', '2': 'MBA', '3': 'M.Sc.', '5': 'PhD'}
{'0': 'B.tech', '1': 'Mtech', '2': 'MBA', '3': 'M.Sc.', '5': 'PhD'}

# Moving towards xlsx files

In [10]:
file_xlsx = "D:\JourneyDataScience\ImportingDataBasics\\urbanpop.xlsx"
print(file_xlsx)
data_xlsx=pd.ExcelFile(file_xlsx)
print(data_xlsx.sheet_names) # to load the sheet names

# Convert the loaded sheet into dataframes, either by parsing sheet names or by their index
df1= data_xlsx.parse('1960-1966')
print(df1.head())
df2=data_xlsx.parse(1)
print(df2.head())

D:\JourneyDataScience\ImportingDataBasics\urbanpop.xlsx
['1960-1966', '1967-1974', '1975-2011']
          country       1960          1961          1962          1963  \
0     Afghanistan   769308.0  8.149230e+05  8.585217e+05  9.039139e+05
1         Albania   494443.0  5.118028e+05  5.294389e+05  5.473767e+05
2         Algeria  3293999.0  3.515148e+06  3.739963e+06  3.973289e+06
3  American Samoa        NaN  1.366030e+04  1.416580e+04  1.475893e+04
4         Andorra        NaN  8.723921e+03  9.700346e+03  1.074838e+04

           1964          1965          1966
0  9.512259e+05  1.000582e+06  1.058743e+06
1  5.655718e+05  5.839829e+05  6.025122e+05
2  4.220987e+06  4.488176e+06  4.649105e+06
3  1.539642e+04  1.604482e+04  1.669311e+04
4  1.186586e+04  1.305275e+04  1.421681e+04
          country          1967          1968          1969          1970  \
0     Afghanistan  1.119067e+06  1.182159e+06  1.248901e+06  1.319849e+06
1         Albania  6.211798e+05  6.399645e+05  6.588531e+05  6.778391e+05
2         Algeria  4.826104e+06  5.017299e+06  5.219332e+06  5.429743e+06
3  American Samoa  1.734866e+04  1.799551e+04  1.861868e+04  1.920639e+04
4         Andorra  1.543962e+04  1.672699e+04  1.808832e+04  1.952896e+04

           1971          1972          1973          1974
0  1.409001e+06  1.502402e+06  1.598835e+06  1.696445e+06
1  6.989322e+05  7.202066e+05  7.416810e+05  7.633855e+05
2  5.619042e+06  5.815734e+06  6.020647e+06  6.235114e+06
3  1.975202e+04  2.026267e+04  2.074197e+04  2.119438e+04
4  2.092873e+04  2.240584e+04  2.393705e+04  2.548198e+04

# Moving towards SAS: Statistical Analysis System
    Stata: "Statistics" + "data"

In [11]:
from sas7bdat import SAS7BDAT
with SAS7BDAT ("D:\JourneyDataScience\ImportingDataBasics\\DCSKINPRODUCT.sas7bdat") as file:
    print(file)
    df_sas =file.to_data_frame()
df_sas.head()

[DCSKINPRODUCT.sas7bdat] header length 65536 != 8192

SAS7BDAT file: DCSKINPRODUCT.sas7bdat

,ProductKey,DistributionCenter,DATE,Discount,Revenue
0,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19399.0,0.0,0.0
1,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19406.0,0.0,0.0
2,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19413.0,0.0,0.0
3,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19420.0,0.0,0.0
4,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19427.0,0.0,0.0

# Stata: "Statistics" + "data"

In [12]:
file_dta ='D:\JourneyDataScience\ImportingDataBasics\\airline.dta'
data_dta=pd.read_stata(file_dta)
print(data_dta.head())

   year      y      w       r      l      k
0  1948  1.214  0.243  0.1454  1.415  0.612
1  1949  1.354  0.260  0.2181  1.384  0.559
2  1950  1.569  0.278  0.3157  1.388  0.573
3  1951  1.948  0.297  0.3940  1.550  0.564
4  1952  2.265  0.310  0.3559  1.802  0.574